@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

#titulo_principal {
    background-color: #8B6F1E;
    color: white;
}

.titulo_secundario {
    background-color: #2F4F2F;
    color: white;
}


.rodape{
    text-align: center;
}

body{
    background-color: Rgb(0,0,0); /*Cor de fundo*/
    color: Rgb(255,255,255); /*Cor da fonte*/
    font-family: "Roboto", sans-serif;  /*Estilo da fonte*/
    font-size: 16px; /*Tamanho da fonte*/
    font-style: normal; /*italic, oblique, normal */
    line-height: 20px; /*Espaçamento entre linhas*/
    font-weight: 400; /*100 a 900 e bold/bolder serve para deixar negrito*/
    text-transform: none; /*uppercase ,lowercase, capitalize, none*/
    text-decoration: none; /*underline, overline (dotted, dashed, wavy, double) sublinhado */
    word-spacing: 3px; /*Espaçamento entre palavras*/
    letter-spacing: 1px; /*Espaçamento entre letras*/
    text-indent: 1px;
    text-align: justify; /*center, left, right, justify*/
}


nav a{
    text-decoration: none;
    color: white;
}

#layout{
     /* font-size: 1em; Multiplica o valor da propriedade que está no pai quando uso 'em' */
   font-size: 1rem; /*Multiplica o valor da propriedade que está no navegador quando uso 'rem'*/
   /*border-style: groove; /*solid, dashed, dotted, inset, outset, groove
   border-width: 30px;
   border-color: red;*/
   border: groove 30px red;
   border-bottom: solid 12px green;
   border-radius: 10px 50px 100px 200px;
   display: flex;
   /*margin: 60px 20px 100px 200px;* defini a margem fora da borda*/
   /*margin: auto; define a margem de forma automatica no entanto funciona apenas quando tenho uma largura definida (width) ou uma altura definida (height)*/
   /*margin-left: 20px;
   margin-right: 50px;
   margin-top: 100px;
   margin-bottom: 120px;*/
   
   /*Espaçamento de dentro da borda*/
   /*padding: 20px 100px;
   padding-top: 20px;
   padding-right: 50px;
   padding-bottom: 80px;
   padding-left: 100px;*/
}
  
.teste_display{
    background-color: orange;
    display: flex; /*inline,block,inline-block,none*/
    /*visibility: hidden;* -> desaparece com os elementos deixando o espaço ocupado vazio*/
    width: 200px;
}

#teste-gradient{
    background-image: radial-gradient(circle, #A608F2 25%, #F701DA 40%, #FF0A5F 60%, #FE5C04 75%, #FF9902 100%); /*to right, to bottom, to left, to top*/
    color: black;
    height: 300px;
    cursor: pointer;
}